@import url(./roboto.css);
html{
    height: 100%;
}
body{
    text-align:center;
    margin:0;
    height:100%;
    font-family:Roboto;
}
mdui-layout{
    height:100%;
}
mdui-top-app-bar-title a{
    color: inherit;
    text-decoration: none;
}
mdui-card{
    padding:1em;
    min-width:400px;
}
mdui-divider{
    margin:10px 0;
}
#file{
    font-size:100%;
    text-align: center;
}
input[type="file"]::file-selector-button{
    display:none;
}
.sidebarlist{
    margin: 0rem .5rem;
}
.listfiles{
    width:90%;
    max-width:900px;
}
.listfiles mdui-list-item::part(container){
    min-height:auto;
    text-align:left;
}
